/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin-top: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  max-width: 100%;
  background: #f9f9f9;
}

h2 {
  margin-top: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  text-align: center;
}

ul.nav_links {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  justify-content: center;
  flex-direction: row;
}


ul.nav_links > li {
  margin: 0;
  padding: 0 5px;
  border-left: 1px solid black;
}

ul.nav_links > li:nth-child(1) {
  border-left: none;
}
