
section#table_section {
  display: flex;
  justify-content: center;
  overflow: visible;
  width: 100%;
  max-height: 80%;
  padding: 10px 0;
  position: relative;
  margin-bottom: 40px;
}

.table_div {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #c1c5cc;
  align-items: center;
  width: 95%;
  height: auto;
  overflow-x: scroll;
  margin: 0;
  box-shadow: 10px 10px 5px lightgrey;
  border: 1px solid black;
  border-radius: 5px;
}

table {
  font-size: 13px;
  width: fit-content;
  background-color: #c1c5cc;
  table-layout: auto;
}

table, th, td {
  padding: 0 3px;
  word-wrap: normal;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

table {
  border: none;
  table-layout: auto;
}

td {
  align-items: center;
  text-align: center;
  padding: 0 4px;
}

tr {
  background-color: white;
}

tr.rows:nth-child(even) {
  background-color: #bababa;
}

.account_form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: scroll;
  max-width: 100%;
}

.account_form > input {
  background-color: inherit;
  text-align: center;
}

td > input[type=text], input[type=number] {
  border: none;
  text-align: center;
  width: 85px;
}

div.table_div > form > input[type=submit] {
  padding: 0;
  background-color: white;
  position: absolute;
  bottom: -30px;
  left: 44%;
  width: 10%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgrey;
}

.account_form > input[type=number]{
  padding-left: 10px;
  width: 100%;
}

select {
  border: none;
}

.reason_details {
  margin-top: 5px;
  border: none;
  background-color: inherit;
  align-self: center;
}

textarea.reason_details:focus {
  background: white;
  color: #6a6f75;
  outline: none;
}

table {
  font-size: 11px;
}
