<h1>INDEX</h1>

<section id="table_section">
  <div class="table_div">
    <table>
      <tr>
        <% @accounts.first.attributes.keys.each do |key| %>
        <% next if @secondary_attr.include?(key) %>
        <% next if key == "amount_credit" && current_user.role == "logistics" %>
        <th><%= key.titleize %></th>
        <% end %>
      </tr>
      <% @accounts.each do |account| %>
      <tr>
        <%= render "row_form.html.erb", account: account %>
      </tr>
      <% end %>
    </table>
  </div>
</section>
